@import url("https://fonts.googleapis.com/css?family=Unica+One");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-size: 150%;
  box-sizing: border-box;
  background-size: 100%;
  font-family: "Open Sans",sans-serif;
  color: black;
  background-color: #f6f6f6; }

@media screen and (max-width: 767px) {
  .navbar {
    margin-bottom: 0px; } }

.navbar-inverse {
  font-size: 2rem;
  font-family: 'Unica one', display;
  background-color: rgba(0, 0, 0, 0.7);
  color: white; }
  @media screen and (max-width: 767px) {
    .navbar-inverse {
      background-color: black; } }
  .navbar-inverse .navbar-nav li a {
    color: white; }
    .navbar-inverse .navbar-nav li a:hover {
      text-shadow: 0 0 3px white; }
  .navbar-inverse .navbar-brand {
    font-size: 3rem;
    font-weight: 900;
    color: white; }
    .navbar-inverse .navbar-brand:hover {
      text-shadow: 0 0 3px white; }

#intro {
  background: url("../images/sky_night_space.jpg") no-repeat center center;
  min-height: 100vh;
  text-align: center;
  color: white;
  font-size: 5rem;
  font-family: "Lobster", cursive;
  padding-top: 0px; }
  @media screen and (min-width: 899px) {
    #intro {
      background-size: 100%; } }
  @media screen and (max-width: 767px) {
    #intro {
      font-size: 4rem; } }
  #intro h2 {
    padding-top: 15vh;
    font-weight: 700;
    font-size: 3rem;
    color: white; }
    @media screen and (max-width: 767px) {
      #intro h2 {
        padding-top: 50px; } }

h2, h3, h4, h5 {
  font-family: "Lobster Two",cursive; }

h1 {
  font-family: "Unica One", display;
  font-weight: 800;
  padding-bottom: 20px;
  margin-left: -15px;
  font-size: 5rem; }

.media img {
  max-width: 400px;
  border-radius: 5px; }

.media-right {
  float: right;
  margin-right: 5px;
  /*to make shadow visible*/
  margin-bottom: 5px;
  /*to make shadow visible*/ }
  .media-right img {
    box-shadow: 5px 5px 9px; }

.media-left {
  float: left;
  margin-left: 5px;
  /*to make shadow visible*/
  margin-bottom: 5px;
  /*to make shadow visible*/ }
  .media-left img {
    box-shadow: -5px 5px 9px; }

section {
  padding-top: 20px; }

ul.navbar-nav {
  text-align: center; }
  @media screen and (min-width: 767px) {
    ul.navbar-nav {
      float: right; } }

@media screen and (max-width: 767px) {
  .navbar-header {
    text-align: center;
    margin-top: 10px; } }

@media screen and (max-width: 767px) {
  .navbar-brand {
    float: none;
    font-size: 4rem; } }

@media screen and (max-width: 767px) {
  .navbar-fixed-top {
    position: static; } }

.size-24 {
  width: 24px;
  height: 24px;
  margin-left: 10px; }

.size-48 {
  width: 48px;
  height: 48px;
  margin-left: 30px; }

footer {
  color: white;
  background: url("../images/milky-way.jpg") no-repeat center center; }
  @media screen and (min-width: 882px) {
    footer {
      background-size: 100%; } }

.media-body {
  min-width: 230px; }

#mywork .media-left + .media-body {
  text-align: right; }

#mywork {
  padding-bottom: 50px; }

#about-me {
  margin-top: 150px;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.2); }
  #about-me img {
    box-shadow: none;
    height: 120px;
    width: 120px;
    float: left; }
  @media screen and (max-width: 767px) {
    #about-me {
      font-size: 1.7rem; } }
  @media screen and (max-width: 625px) {
    #about-me {
      margin-top: 100px; } }

/*# sourceMappingURL=styles.css.map */
